* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: black;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.qqq{
    background-color: #131034;
    h2{
        color: aqua;
    }
    h1{
        color: orangered;
    }
    img{
        border-radius: 100px;
    }

}
.first{
    background-color: #131034;

}
.second{
    background-color: #131034;
    color: aqua;
    h1{
        color: orangered;
    }
}
.btn{
    color: rgb(255, 255, 255);
    background-color: orangered;
    border-radius: 10px;
    border-color: gold;
    padding:10px auto;
    margin: 10px auto;
   width: 125px;
   height: 35px;
   align-items: center;
    
}
.btn:hover{
    cursor: pointer;
    transition: 0.38s;
    background-color: azure;
    color: black;
}
.third{
    background-color: black;
    color: aqua;
    h2{
        color: orangered;
    }
}
.vizz{
    background-color: black;
    color: white;
    p{
        background-color: orangered;
    }
    
}
.fourth{
    background-color: #131034;
    color: white;
    h2{
        color: orangered;
    }
    u{
        color: blue;
    }
}
.fifth{
    color: aqua;
    h1{
        color: orangered;
    }

}
.sixth{
    background-color: black;
    color: aqua;
}
.seven{
    border-color: #131034;
    color: aqua;
    h1{
        color: orangered;
    }
   
}
.min{
    background-color: #131034;
}
.wrt{
    background-color: black;
}
.abu{
    color: orangered;
    background-color: #131034;
}
.eight{
    background-color: black;
    color: aqua;
}
.nine{
    background-color: black;
    color: aqua;
    h2{
        color: orangered;
    }
    u{
        color: blue;
    }
}
.logo{
    background-color: black;
    img{
        border-radius: 100px;
    }
}
.buju{
    border-radius: 25px;
    background-color: white;
    color: black;
    h2{
        color: orangered;
    }
}
.bym{
    background-color: black;
    color: aqua;
}
.leg{
    background-color: black;
    h3{
        color: aqua;
    }
    color: white;
}
.class-containter{
    background-color: aqua;
    border-radius: 50px;
    display: flex;
    gap: 20px;
    align-items: baseline;
    img{
        border-radius: 100px;
    }
}  
.osh{
    flex: 1;

}
.buss{
    flex: 1;
}
.bizz{
    flex: 1;


}

