* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
form{
    background-color: rgba(132, 128, 128, 0.495);
    color: black;
    width: 380px;
    margin: 50px;
    padding: 40px 30px;
   border-radius: 25px;

}
.joze{
    background-color: rgb(18, 13, 52);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding:10px auto;
    margin: 10px auto;
   width: 170px;
   height: 35px;
   align-items: center;
}
.joze:hover{
    cursor: pointer;
    transition: 0.38s;
    background-color: azure;
    color: black;
}